@using WebUI.Extension;
@{
    //ViewBag.Title = "Crew List";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var currentController = (WebUI.Controllers.CrewController)ViewContext.Controller;
}
<div class="page-header">
    <div class="btn-group pull-right">
        @Html.ActionLink("Add Crew Whitelist", "CreateCrewWhitelist", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="btn-group pull-right">
        @Html.ActionLink("Logout", "Logout", "User", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <h1>@ViewBag.Title</h1>
</div>
<h1>Today Crew</h1>
<div id="grid2"></div>
<br>
<br>
<br>
<h2>Crew Whitelist</h2>
<div id="grid"></div>
@section scripts
    {
    <script type="text/javascript">

    function deleteItem(e) {
        e.preventDefault();
        var data = this.dataItem(getDataRowGrid(e));
        goToDeletePage('@Url.Action("DeleteCrewWhitelist")' + "?id=" + data.id, this.dataSource);
    }

    function editItem(e) {
        e.preventDefault();
        var data = this.dataItem(getDataRowGrid(e));
        window.location.href = "@Url.Action("EditCrewWhitelist")" + "?id=" + data.id;
    }
        $(document).ready(function () {

            var ds = {
                pageable: true,
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sortable: true,
                transport: {
                    read: {
                        url: "@Url.Action("BindingCrewWhitelist")",
                        dataType: "json",
                        type: "POST",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options != '') {
                            return kendo.stringify(options);
                        }
                        else if (operation == "read") {
                            return options;
                        }
                    }
                },
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        fields: {
                            "barcode": { type: "string" },
                            "id": { type: "number" },
                            //"crewName": { type: "string" },
                            //"assignDate": { type: "date" },
                            //"crewStatus": { type: "string" },
                            //"crewAirport": { type: "string" },
                            //"companyAirways": { type: "string" },
                            "startDate": { type: "date" },
                            "endDate": { type: "date" },
                        }
                    }
                }
            }

            var ds2 = {
                pageable: true,
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sortable: true,
                transport: {
                    read: {
                        url: "@Url.Action("BindingCrewWhitelistToday")",
                    dataType: "json",
                    type: "POST",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options != '') {
                        return kendo.stringify(options);
                    }
                    else if (operation == "read") {
                        return options;
                    }
                }
            },
                schema: {
                data: "data",
                total: "total",
                model: {
                        fields: {
                            "barcode": { type: "string" },
                            "id": { type: "number" },
                            //"crewName": { type: "string" },
                            //"assignDate": { type: "date" },
                            //"crewStatus": { type: "string" },
                            //"crewAirport": { type: "string" },
                            //"companyAirways": { type: "string" },
                            "startDate": { type: "date" },
                            "endDate": { type: "date" },
                            }
                }
                }
            };

            $("#grid2").kendoGrid({
                dataSource: ds2,
                filterable: true,
                pageable: true,
                sortable: true,
                columns: [
                    {
                        field: "barcode",
                        title: "Barcode",
                    },

                    {
                        field: "startDate",
                        title: "Start Date",
                    },
                    {
                        field: "endDate",
                        title: "End Date",
                    },
                    {
                        width: "90px"
                    },
                ],
            });
            

            $("#grid").kendoGrid({
                dataSource: ds,
                filterable: true,
                pageable: true,
                sortable: true,
                columns: [
                    {
                        field: "barcode",
                        title: "Barcode",
                    },

                    {
                        field: "startDate",
                        title: "Start Date",
                    },
                    {
                        field: "endDate",
                        title: "End Date",
                    },
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "delete",
                                text: "delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-remove",
                                template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "90px"
                    },
                ],
            });
        });
        
</script>
}
